html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
  }

  body {
    font-size: 16px;
    line-height: 30px;
    font-family:'Quicksand-Regular', sans-serif;
    font-weight: 400;
}
  
  