html {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #555555;
  overflow-x: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page__content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  min-height: 110px;
  margin-bottom: 50px;
  padding: 40px 360px 40px 28px;
  background-color: #ffffff;
  font-size: 30px;
  color: #000000;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.subtitle {
  text-align: center;
  font-size: 36px;
  margin-bottom: 28px;
  color: #000000;

  &__text {
    color: #0674ec;
  }

  &__desc {
    margin: 0 auto 55px;
    max-width: 695px;
    text-align: center;
  }
}

//start background/////////////////////
.background {
  padding: 50px 0;
  min-height: 180px;
  background: linear-gradient(to right, #4c1f9c 0%, #0d3ef2 100%);

  .breadcrumbs {
    text-align: left;
    margin: 0 0 19px 0;
    &--launch{
      margin: 0;
      text-align: center;
    }
  }
  &__title {
    font-size: 30px;
    @include f500;
    color: #ffffff;
    &--launch{
      margin: 0 auto 55px;
      max-width: 410px;
      line-height: 50px;
      @include f500;
      color: #f3f3f8;
    }
  }
  &--launch {
    padding: 70px 0 20px;
    min-height: 280px;
    text-align: center;
  }

  &--contact{
    padding: 90px 0 30px;
    min-height: 280px;
    text-align: center;
  }
  &__edit {
    display: block;
    font-size: 20px;
  }
}

//end background/////////////////////
// start bg favourites////////////////////
.bg {
  background-color: #eff1f5;

  .product__inner-items {
    padding: 85px 0 50px;
    margin-bottom: 0;
  }
  .pagination__list {
    justify-content: center;
    padding-bottom: 120px;
    padding-left: 0;
  
    &:first-child,
    &:last-child {
      margin-right: 0;
    }
  }
}
//end bg favourites////////////////////////////////

//start filter select//////////

.filter-select {
  border: none;
  font-size: 16px;
  line-height: 32px;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
}

//end filter select//////////
.menu,
.post {
  &__search {
    display: block;
    max-width: 360px;
    width: 100%;
    margin-bottom: 3px;
  }

  &__form {
    position: relative;
  }

  &__text {
    width: 100%;
    height: 46px;
    padding: 0 100px 1px 25px;
    padding-bottom: 1px;
    border: 1px solid #d9dfe5;
    border-radius: 45px;
    outline: transparent;
    transition: all 0.3s;

    &:hover {
      border: 1px solid $bg-text;
    }

    &::placeholder {
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    width: 70px;
    height: 45px;
    background: $bg-text;
    border: none;
    border-radius: 45px;
    outline: transparent;

    &:focus {
      opacity: 0.8;
    }

    &::before {
      content: "\e86f";
      @include f-icons;
      position: absolute;
      transform: translate(-50%, -50%);
      font-size: 15px;
      color: #ffffff;
    }
  }
}

//end all search/////////////////////
.bg {
  background-color: #eff1f5;
}

//////// start slick button global ////////////////////////////////////////

//start checkbox//////////////////////////////////////////


.jq-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: -4px;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid $bg-text;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
}

.jq-checkbox.checked {
  background-color: $bg-text;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 11px;
  height: 6px;
  margin: 5px 0 0 4px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

//end checkbox/////////////////////////////////////////////

.slick {
  position: relative;
}

.slick-btn {
  position: absolute;
  top: -125px;
  width: 55px;
  height: 45px;
  z-index: 1;
  border: none;
  background-color: #7347c1;
  opacity: 1;
  transition: all 0.3s;
  outline: transparent;

  &__bg {
    background-color: #0674ec;
  }

  &:hover {
    opacity: 0.8;
  }

}

.slick-prev {
  border-radius: 45px 0 0 45px;
  right: 85px;

  &::before {
    content: "\e875";
    font-family: 'Linearicons-Free';
    position: absolute;
    font-size: 14px;
    color: #ffffff;
    transform: translateY(-50%);
    right: 21px;
  }
}

.slick-next {
  border-radius: 0 45px 45px 0;
  right: 31px;

  &::before {
    content: "\e876";
    font-family: 'Linearicons-Free';
    position: absolute;
    right: 22px;
    font-size: 14px;
    color: #ffffff;
    transform: translateY(-50%);
  }
}

//////// end slick button global ////////////////////////////////////////
//start global avatar///////////////////////////////////////////
.notification,
.message,
.weekly,
.product,
.followers,
.reviews,
.production {
  &__link-img {
    position: relative;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
  }

  &__avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

//end global avatar///////////////////////////////////////////
//start global Cart product///////////////////////////////////////////
.product,
.followers,
.production {

  &__photo {
    position: relative;
    margin-bottom: 25px;
    height: 230px;
    overflow: hidden;
    &--active {
        margin-bottom: 0;
        min-height: 240px;
        height: 100%;
        max-width: 400px;
        width: 100%;
        border-radius: 4px 0 0 4px;
    }
  }

  &__photo-img {
    position: absolute;
    max-width: 100%;
    border-radius: 4px 4px 0 0;
    &--active {
      border-radius: 4px 0 0 4px;
    }
  }

  &__desc {
    padding: 0 30px;
    }

  &__subtitle {
    font-size: 20px;
    @include f500;
    margin-bottom: 10px;
    color: #000000;
  }

  &__user {
    display: flex;
    margin-bottom: 25px;
  }

  &__username {
    position: relative;
    margin-left: 8px;
    font-size: 15px;
    color: #000000;
    transition: all 0.3s;

    &:hover {
      color: $bg-text;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 44px;
    }
  }

  &__plugin {
    position: relative;
    margin-left: 17px;
    padding-left: 25px;
    color: #7347c1;

    &--wordpress,
    &--psd,
    &--html {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 17px;
        height: 17px;
        background-image: url(../images/icons/wordpress.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -6px;
        height: 44px;
      }
    }

    &--psd {
      &::before {
        height: 20px;
        background-image: url(../images/icons/psd.svg);
      }
    }

    &--html {
      &::before {
        height: 18px;
        background-image: url(../images/icons/html.png);
      }
    }
  }

  &__text {
    padding-bottom: 28px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 19px 30px;
    border-top: 1px solid #ececec;
  }

  &__price {
    padding: 0 15px;
    color: #0674ec;
    @include f500;
    font-size: 15px;
    border-radius: 30px;
    background-color: #e6f1fd;
  }

  &__like {
    position: relative;
    margin-left: 15px;
    padding-left: 21px;
    font-size: 15px;
    color: #6f7d8d;
    border: none;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: 0.8;
    }
    &--active {
      margin: 0;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -10px;
      height: 44px;
    }

    &::before {
      content: "\e813";
      position: absolute;
      left: 0;
      font-size: 15px;
      font-family: 'Linearicons-Free';
      color: #7f4ec2;
    }
  }

  &__basket {
    position: relative;
    color: #0674ec;
    padding-left: 20px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: 0.8;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -10px;
      height: 44px;
    }

    &::before {
      content: "\e82e";
      position: absolute;
      left: 0;
      font-size: 15px;
      font-family: 'Linearicons-Free';
      color: #0674ec;
    }



  }
}

//end global Cart product///////////////////////////////////////////
// start global button//////////////////////////////

.link {
  height: 58px;
  padding: 13px 34px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 55px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border: 1px solid transparent;
  }
}

.product,
.followers,
.sell,
.reviews,
.join,
.price,
.error,
.blog,
.login,
.launch,
.contact {
  &__button {
    display: inline-block;
    height: 58px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    background-color: #0674ec;
    outline: transparent;

    &:hover {
      background-color: rgba($color: #0674ec, $alpha: 0.8);
    }

    &:focus {
      opacity: 0.7;
    }
  }
}

// end global button//////////////////////////////
// start global aside///////////////////////

.post .categories,
.tags {
  width: 100%;
  padding: 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

  &__list {
    list-style: none;
    margin: 0;
    padding: 20px 25px;
  }

  &__title {
    position: relative;
    border-bottom: 1px solid #e7ebee;
    font-size: 20px;
    color: #000000;
  }
}

.categories,
.sort,
.price {
  width: 265px;
  margin-bottom: 30px;
  padding: 25px 30px 8px 30px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

  &__list {
    padding: 0;
    list-style: none;
  }

  &__title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e7ebee;
    font-size: 20px;
    color: #010101;

    &::before {
      content: "\e874";
      position: absolute;
      right: 10px;
      top: 2px;
      width: 0;
      height: 0;
      font-family: 'Linearicons-Free';
      font-size: 12px;
    }
  }
}

.categories {

  &__link {
    position: relative;
    font-size: 15px;
    line-height: 36px;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
    outline: transparent;
    
    &:hover,
    &:focus {
      color: #0674ec;
    }

    &::before {
      content: "\e876";
      position: absolute;
      left: 0;
      width: 0;
      height: 0;
      font-family: 'Linearicons-Free';
      font-size: 10px;
    }
  }
}

//menu hover///////////////////////////////////////////

.notification__link,
.message__link,
.basket__link {
  position: relative;
  padding: 10px 25px;
  width: 50px;
  height: 70px;
  margin-top: 30px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;

  &::before {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #7e8fa1;
    font-family: 'Linearicons-Free';
    font-size: 20px;
    transition: all 0.3s;
  }

  &:hover::before,
  &:focus::before {
    color: #e4d2d2;
  }
}

.notification,
.message,
.basket {
  position: relative;

  &__item {
    position: absolute;
    height: 0;
    overflow: hidden;
    z-index: 1;
    top: 99%;
    width: 370px;
    border: none;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $bg-text;
    }

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 10px 8px;
      border-color: transparent transparent $bg-text transparent;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    }
  }
}

.notification__edit,
.message__edit,
.basket__edit {
  position: absolute;
  top: -9px;
  right: 0;
  z-index: 5;
  min-width: 22px;
  height: 22px;
  padding: 0 5px;
  font-size: 14px;
  @include f500;
  line-height: 22px;
  border-radius: 22px;
  color: #ffffff;
}

.user,
.dropdown {
  &__button {
    padding: 20px 0;
    font-size: 15px;
    line-height: 42px;
    @include f500;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: transparent;
    transition: all 0.3s;

    &--active {
      color: $bg-text;
    }

    &:hover {
      color: $bg-text;
    }
  }

  &__list {
    position: absolute;
    top: 64px;
    top: 80px;
    height: 0;
    overflow: hidden;
    width: 270px;
    padding: 0 20px 0;
    z-index: 1;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    list-style: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $bg-text;
    }
  }

  &__item {
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $bg-text;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 10px;
    font-size: 15px;
    line-height: 10px;
    color: #54667a;
    transition: all 0.5s;

    &:hover {
      color: #fff;

      &::before {
        color: #fff;
      }
    }

    &::before {
      position: absolute;
      left: 10px;
      @include f-icons;
      color: #54667a;
    }
  }
}

.dropdown {
  &__list--active {
    height: auto;
    padding: 20px;
    overflow: visible;
    line-height: 44px;
    transition: all 0.5s;
  }

  &__link--active {
    line-height: 44px;
  }
}

.user {
  transition: all 0.9s;

  &:hover {
    box-shadow: inset 0px 0px 10px -8px;

    .user__list {
      // display: block;
      height: auto;
      padding: 20px;
      overflow: visible;
      line-height: 44px;
      transition: all 0.5s;
    }

    .user__link {
      line-height: 44px;
    }
  }

  &:focus {
    box-shadow: inset 0px 0px 10px -5px;
  }
}

.notification,
.message {
  &__title {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
  }

  &__title-text {
    font-size: 18px;
    color: #000000;
    line-height: 28px;
  }

  &__view {
    font-size: 15px;
    color: $bg-text;
    transition: all 0.2s;

    &:hover {
      opacity: 0.8;
      text-shadow: 0 0 0.5px;
    }
  }

}

//edit plugins//////////////////////////////////////////
//start data,views,comments BEFORE ////////////////////////////////////////////
.news,
.blog,
.popular {
  &__data {
    position: relative;
    padding: 10px 48px 10px 25px;
    color: #999999;
    border-right: 1px solid #ececec;

    &::before {
      content: "\e864";
      position: absolute;
      left: 0;
      @include f-icons;
      font-size: 15px;
      color: $bg-text;
    }
  }

  &__comments,
  &__views {
    position: relative;
    padding-left: 25px;
    color: #7e7e7e;
    margin-left: 20px;

    &::before {
      position: absolute;
      @include f-icons;
      left: 0;
      font-size: 15px;
    }
  }

  &__comments::before {
    content: "\e83f";
  }

  &__views::before {
    content: "\e81b";
  }
}

//end data,views,comments BEFORE ////////////////////////////////////////////
///start slick///////////////////

.followers__wrapper .slick-slide {
  max-width: 360px;
  margin-right: 30px;
}

///end slick///////////////////
//////start ionRange aside__price////////////////////
.price {

   .irs-grid {
    display: none;
  }

   .irs-line,
   .irs-bar {
    height: 6px;
  }

   .irs-bar {
    background-color: #7347c1;
  }

   .irs-max,
   .irs-min {
    display: none;
  }

   .irs-handle {
    top: 18px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: 4px solid #0674ec;
    border-radius: 50%;
    z-index: 0;
  }

   .irs-handle>i:first-child {
    background-color: transparent;
    height: 0;
  }

   .irs-from:before,
   .irs-single:before,
   .irs-to:before {
    display: none;
  }

   .irs-from,
   .irs-single,
   .irs-to {
    top: 50px;
    display: flex;
    align-items: center;
    height: 30px;
    color: #7347c1;
    font-size: 15px;
    text-shadow: none;
    padding: 10px 20px;
    background-color: #f1ecf9;
    border-radius: 30px;
  }

  .irs-from,
  .irs-single {
    left: 0 !important;
  }

  .irs-to {
    left: 64% !important;
  }
}

//////end ionRange aside__price////////////////////
// start tab on page block /////////////////////////////

.tab {
  display: inline-block;
}

.tab-item {
  display: none;

  &:first-child {
    display: block;
  }
}

.tabs {
  text-align: center;
  border-bottom: 1px solid #e7ebee;

  .active {
    color: $bg-text;
  }
}

// end tab on page block /////////////////////////////