@media (max-width:1200px) {

    .features {
        &__item {
            display: block;
            max-width: 100%;
        }
    }

    .advantages {
        &__items {
            justify-content: space-around;
        }

        &__item {
            width: 50%;
            max-width: 100%;
        }
    }

    .news {
        &__inner {
            flex-wrap: wrap;
        }

        &__item {
            display: flex;
            margin-bottom: 10px;
            max-width: 100%;
            width: 100%;
            min-height: auto;
        }

        &__img {
            width: 100%;
            max-width: 100%;
        }

        &__publication {
            flex-direction: column-reverse;
            justify-content: flex-start;
        }

        &__comments {
            margin-bottom: 100px;
        }

        &__data {
            margin-top: auto;
            width: 100px;
            border: none;
            padding: 0;

            &::before {
                left: -30px;
            }
        }

    }

    .pages {

        &__martplace {
            margin: 0 20px;
        }

        &__dashboard {
            margin: 0 20px;
        }

        &__others {
            margin: 0 20px;
        }
    }

    .product {
        &__item {
            flex-basis: calc(50% - 30px);
        }

        &__content {
            max-width: 600px;
        }
    }


    .product__link--new-items {
        padding: 5px 70px;
    }

    .followers {

        &__wrapper {

            .slick-slide {
                max-width: 600px;
                margin: 0 15px;
            }
        }

        &__items {
            flex-wrap: wrap;
        }

        &__item {
            max-width: 700px;

            &--template {
                flex-basis: calc(50% - 30px);
                margin-bottom: 20px;
            }
        }
    }

    .join {
        min-height: auto;
        padding: 45px 0 45px;
    }

    .filter {

        &__sort {
            display: none;
        }

        &__form {
            margin: 0 20px;
        }
    }

    .production {
        &__item {
            max-width: 1000px;
            width: 100%;
        }

        &__content {
            height: 330px;
        }


    }

    .aside {
        position: sticky;
        top: 0;
        height: 100%;
        padding-top: 15px;

        &__categories,
        &__sort,
        &__price {
            padding-top: 10px;
        }
    }

    .categories,
    .sort,
    .price {
        margin-bottom: 5px;

        &__title {
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
    }

    .blog {
        &__inner {
            padding: 10px 25px;
        }

        &__title {
            font-size: 27px;
        }
    }

    .pricing {
        padding: 50px 0 60px;

        &__inner {
            flex-wrap: wrap;
        }

        &__cart {
            display: block;
            margin: 0 auto 30px;
            padding: 20px 50px 30px;
            max-width: 600px;
            width: 100%;
        }

        &__btn {
            margin: 0 auto;
        }
    }

    .background--contact {
        padding: 50px 0 14px;
        min-height: 220px;
    }

    .contact {
        padding: 50px 0 35px;

        &__items {
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
        }

        &__item {
            max-width: 70%;
            margin-bottom: 20px;
        }

    }

    .wrapper {
        &--template {
            padding: 30px 0;
        }

        &__box--template {
            flex-direction: column;
        }
    }

    .template {
        max-width: 100%;

        &__content {
            max-width: 100%;
            width: 100%;
        }

        &__img {
            max-width: 100%;
        }
    }

    .description {
        margin-bottom: 20px;

        &__tabs {
            flex-direction: column;
        }

        &__tab {
            &:last-child {
                padding: 14px 28px 19px;
            }
        }

        .active {
            background-color: #d0e1f3;
        }

        &__img {
            max-width: 100%;
        }
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -30px;
        max-width: 1200px;
        width: 100%;
    }

    .card-price,
    .card-rating,
    .card-info,
    .card-author {
        flex-basis: calc(50% - 30px);
        margin-left: 30px;
    }
}

@media (max-width: 992px) {

    .header {
        &__link {
            margin-right: 0;
        }

        &__top {
            position: relative;
            z-index: 10;
        }
    }

    .menu {
        position: relative;

        &__inner {
            position: static;
        }

        &__list {
            display: none;
            position: absolute;
            right: 0;
            top: 64px;
            z-index: 1;
            background-color: #fff;
            width: 100%;
            border-bottom: 1px solid $bg-text;

        }

        &__item {
            display: block;
            text-align: center;
            border-bottom: 1px solid $bg-text;
            cursor: pointer;
            transition: all 0.3s;

            &+& {
                margin: 0;
            }
        }

        &__link {
            display: block;
            width: 100%;
            padding: 0;

            &:hover {
                color: #fff;
                background-color: $bg-text;
            }
        }

        &__btn-wrapper {
            left: 13px;
        }

        &__btn {
            display: block;
        }

        &__search {
            max-width: 80%;
            margin-left: auto;
        }


        &__search-text {
            padding-right: 85px;

        }
    }

    .dropdown {
        &__list {
            width: 100%;
            top: auto;
        }

        &__button {
            padding: 13px 0;
            line-height: 44px;
        }
    }

    .caption {
        min-height: 540px;
        padding: 100px 0 0;


        &__text {
            line-height: 30px;
        }
    }

    .pages {
        &__item {
            top: auto;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__martplace,
        &__dashboard {
            display: block;
            margin-bottom: 30px;
        }

        &__button {
            padding: 13px 0;
            line-height: 44px;
        }
    }

    .footer {
        &__top {
            padding: 20px 5px;
        }

        &__inner {
            display: block;
        }

        &__col:first-child {
            display: block;
            max-width: 100%;
            margin-bottom: 30px;
        }

        &__col-social {
            max-width: 100%;
            margin: 0 auto;
        }

        &__form {
            text-align: end;
        }

        &__col-menu {
            display: inline-block;
            margin-bottom: 30px;

            &+& {
                padding-left: 60px;
            }
        }
    }

    .themes {
        position: relative;
        z-index: -5;
    }

    .title {
        padding-right: 30px;
    }

    .weekly {
        padding: 35px 0;

        .slick-btn {
            top: 10px;
        }

        &__content {
            flex-wrap: wrap;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__images {
            max-width: 100%;
        }

        &__desc {
            max-width: 100%;
        }


    }

    .product {
        &__inner {
            padding: 35px 0;
        }

        &__btn {
            margin: 7px 0;
            padding: 14px 21px;
        }

        &__filter-btn {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -6px;
                height: 44px;
            }

        }
    }

    .bg {
        .product__inner-items {
            padding: 35px 0 10px;
        }

        .pagination__list {
            padding-bottom: 40px;
        }
    }



    .followers {
        padding: 35px 0;
    }

    .sell {
        flex-wrap: wrap;

        &__item {
            width: 100%;

        }
    }

    .reviews {
        &__inner {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__user::before {
            display: none;
        }

        &__item {
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;

            &+& {
                margin: 0;
            }

        }

        &__button {

            margin-top: 25px;

        }
    }

    .weekly__link {
        padding: 13px 17px;
    }

    .filter {
        padding: 20px 0;

        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__products {
            margin: 0 auto;
        }

        &__btn {
            justify-content: center;
        }

        &__sort {
            margin: 0;
        }

        &__form {
            min-height: auto;
            margin-right: 30px;
            margin-bottom: 20px;
            border: 1px solid #eceff2;
            order: -1;

            &::before {
                right: 30px;
            }
        }

        &__text {
            margin-bottom: 20px;
        }

        &__button {
            height: 44px;
        }

    }

    .dropdown-filter__content--favourites::before {
        right: -11px;
    }

    .blog-wrapper {
        padding: 15px 0 40px;
    }

    .blog {
        &__content {
            flex-direction: column;
            flex-wrap: wrap;
        }

        &__item {
            margin-bottom: 15px;
        }

        &__img {
            max-width: inherit;
        }
    }

    .post {
        padding: 0;
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
        order: -1;

        &__form {
            max-width: inherit;
        }

        &__search {
            max-width: 100%;
        }

        &__categories {
            max-width: 100%;
            margin-bottom: 15px;
        }

        &__inner {
            margin-bottom: 15px;
        }

        &__title {
            border-bottom: none;
        }
    }

    .popular {
        max-width: inherit;
        margin-bottom: 15px;
    }

    .tags {
        max-width: inherit;
        width: 100%;
        margin-right: 20px;
    }

    .banner {
        display: none;
    }

    .login__check {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 44px;
            min-width: 44px;
        }
    }

    .launch {
        &__item {
            flex-direction: column;
            align-items: center;
            padding: 50px 0;
        }

        &__inner {
            max-width: 700px;
        }

        &__inner {
            display: flex;
            flex-direction: column;
        }

        &__button {
            max-width: 420px;
            width: 100%;
            align-self: center;
            text-align: center;
        }

        &__img--left {
            order: 0;
        }
    }

    .contact {
        &__input {
            max-width: inherit;
            padding: 0 19px;
        }

        &__textarea {
            padding-left: 19px;
        }

        &__form-title {
            margin-bottom: 40px;
            padding: 20px 30px;
        }
    }
}

@media (max-width: 768px) {

    .header {

        &__logo-link {
            margin-left: 0;

            &--active {
                margin-left: calc(100vw - 320px);
            }
        }

        &__btn {
            display: block;
        }

        &__box {
            position: absolute;
            left: -20px;
            transform: translateY(-100%);
            transition: all 0.3s;

            &--active {
                transform: translateY(0);
            }
        }

        &__box-inner {
            flex-direction: column;
        }

        &__link {
            display: none;
        }

        &__title {
            margin-bottom: 15px;
        }
    }

    .notification,
    .message,
    .basket {

        &__item {
            width: 310px;
            top: 40px;
            right: auto;
            left: 0;
            z-index: 10;

            &::before {
                right: auto;
                left: 16px;
            }
        }


        &__link {
            height: 30px;
            margin-top: 0;
        }

        &__edit {
            top: 1px;
            right: -10px;
        }
    }

    .user {
        &__list {
            right: auto;

            &::before {
                right: auto;
                left: 70px;
            }
        }
    }


    .caption {
        min-height: 540px;
        padding-top: 50px;

        &__title {
            font-size: 50px;

        }

        &__content {
            padding-bottom: 170px;
        }
    }

    .search {
        &__box {
            padding: 25px;
            bottom: 0;
        }

        &__form {
            margin-bottom: 10px;
            flex-direction: column;
        }

        &__input {
            display: block;
            max-width: 100%;
            padding: 13px 15px;
            border-radius: 6px 6px 0 0;
            border: 1px solid #dcdcdc;
        }

        &__nav {
            max-width: 100%;
        }

        &__dropdown {
            max-width: 100%;
            width: 100%;
            padding-left: 15px;
            border-radius: 0 0 6px 6px;
            margin-bottom: 20px;
            margin-top: -1px;

            &:hover {
                border-top: 1px solid $bg-text;
            }
        }

        &__btn {
            margin: 0 auto;
        }
    }


    .subtitle__desc {
        margin-bottom: 20px;
    }

    .product {

        &__inner-btn {
            justify-content: space-around;
            margin-bottom: 25px;
        }

        &__inner-items {
            margin-bottom: 0;
        }

        &__item {
            width: auto;
        }

        &__content {
            max-width: 100%;

        }

        &__btn {
            margin: 7px 0;
        }

        &__photo {
            height: 350px;
        }

        &__photo-img {


            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__item {
            flex-basis: 100%;
        }

    }

    .followers {
        &__title {
            margin-bottom: 20px;
        }

        &__item {
            max-width: 100%;
            display: block;
            margin-right: 0px;

            &--template {
                flex-basis: 100%;
            }
        }

        &__photo {
            height: 350px;
        }

        &__wrapper .slick-slide {
            max-width: 768px;
            width: 100%;
        }

        &__link {
            min-height: 360px;
        }
    }

    .volume {
        height: 400px;
        padding-top: 35px;

        &__inner {
            justify-content: center;
        }

        &__item {
            width: 145px;
            margin: 0 40px 30px;

            &::before {
                top: 30px;
            }

        }
    }

    .advantages {

        padding: 50px 0 10px;

        &__item {
            width: 100%;
        }
    }

    .reviews {
        padding: 50px 0px;

        &__inner {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__link {
            min-width: 80px;
            padding: 20px 30px 15px;
        }

        &__user::before {
            display: none;
        }
    }

    .news {
        padding: 20px 0;

        &__item {
            position: relative;
        }

        &__publication {
            position: absolute;
            left: 50%;
            padding: 5px 15px;
            transform: translateX(-13%);
            bottom: 0;
            flex-direction: row-reverse;
        }

        &__views {

            margin-top: auto;
        }

        &__comments {
            margin-bottom: 0;
            margin-top: auto;
            margin-right: 40px;
        }
    }

    .production {
        margin: 0;
    }

    .wrapper__content {
        flex-wrap: wrap;
        padding: 10px 0 50px;
    }

    .aside {
        position: static;
        display: block;
        width: 100%;
        margin-bottom: 10px;

        &__inner {
            width: 100%;
        }

        &__categories,
        &__sort,
        &__price {
            width: 100%;
            padding-top: 5px;
        }
    }

    .sort {
        &__list {
            column-count: 3;
        }

        &__item {
            margin-right: 30px;
        }
    }

    .blog {
        &__img {
            min-height: 300px;

            &__title {
                font-size: 24px;
            }
        }
    }

    .post {
        margin-bottom: 0;
    }

    .tags {
        margin-bottom: 20px;
    }

    .contact {

        &__item {
            max-width: 100%
        }

        &__location {
            height: 250px;
        }
    }


    .template {
        &__link {
            flex-direction: column;
        }

        &__button--link {
            margin-bottom: 30px;
        }

        &__social {
            margin: 0 auto;

        }
    }

    .description {

        &__content {
            padding: 20px;
        }

        &__title {
            margin-bottom: 15px;
        }

        &__text {
            padding-right: 0;
            margin-bottom: 20px;
        }

        &__list {
            margin-bottom: 20px;
            padding-left: 0;
        }

        &__item {
            line-height: 25px;
            margin-bottom: 10px;
        }

        &__list-num {
            margin-bottom: 20px;
            padding-left: 15px;
            line-height: 25px;
        }

        &__item-num {
            margin-bottom: 10px;
        }

        &__img {
            max-height: 300px;
        }
    }

    .card {
        margin: 0;
    }

    .card-price,
    .card-rating,
    .card-info,
    .card-author {
        flex-basis: 100%;
        margin-left: 0;
    }

    .card-price {
        &__form {
            padding: 15px;
        }

        &__text {
            padding: 0;
        }
    }

    .card-info {
        margin-bottom: 25px;
        padding: 0 15px 40px;

        &__text {
            max-width: 120px;
        }

        &__value {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {

    .header {

        &__logo-link--active {
            margin-left: 0;
        }
    }

    .user__list {
        width: 230px;
    }

    .footer {
        &__inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__col {
            margin-bottom: 15px;
        }


        &__col-menu {
            margin-bottom: 15px;
            padding-right: 20px;

            &+& {
                padding-left: 0px;
            }
        }
    }

    .caption {
        &__title {
            font-size: 40px;
            line-height: 50px;
        }

        &__text {
            font-size: 16px;
        }

        &__link {
            display: block;
            width: 100%;
            margin-bottom: 30px;

            &+& {
                margin-left: 0;

            }
        }

        &__content {
            padding-bottom: 170px;
        }
    }

    .subtitle {
        font-size: 30px;
    }

    .weekly {

        &__title {
            height: 70px;
            font-size: 20px;
            padding-top: 20px;
            padding-right: 30px;

        }

        &__images {
            min-height: 230px;
        }

        &__desc {
            padding: 15px;
        }

        &__text {
            margin-bottom: 15px;
        }

        &__wrapper-link {
            padding-bottom: 15px;
        }

        &__link {
            display: block;
            text-align: center;
            width: 70%;
            margin: 0 auto 5px;
            padding: 8px 17px;
        }

    }

    .product {

        &__inner-title {
            padding-bottom: 20px;
        }

        &__content {
            min-height: 500px;
        }

        &__wrapper-btn {
            bottom: 20px;


        }

        &__inner-btn {
            margin-bottom: 20px;
        }

        &__filter-btn {
            margin-right: 10px;
            line-height: 20px;
        }

        &__photo {
            height: 200px;
        }

        &__desc {
            padding: 0 10px;
        }

        &__rating {
            padding: 15px 10px 19px 10px;
        }

        &__button {
            width: 100%;

            text-align: center;
        }

        &__link--new-items {
            padding: 5px 20px;
        }


    }

    .join {
        &__button {
            width: 100%;

            text-align: center;
        }

        &__title {
            font-size: 30px;
            line-height: 35px;
        }
    }

    .title {
        height: 100%;
        min-height: 70px;
        font-size: 20px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;

    }

    .volume {
        height: 400px;
        padding-top: 35px;

        &__inner {
            justify-content: space-between;
        }

        &__item {
            margin: 0 0 30px;
        }
    }

    .sell {
        &__item {
            min-height: 470px;
            padding: 30px;
        }
    }

    .reviews {
        &__button {
            width: 95%;
            text-align: center;
        }

        &__item {
            padding: 15px;
            border-left: none;
            border-bottom: 2px solid #0674ec;
        }

    }

    .container--media {
        padding: 0;
    }

    .news {

        &__item {
            flex-direction: column;
            margin-bottom: 15px;
        }

        &__publication {
            position: relative;
            transform: translateX(0%);
            left: 0;
        }
    }

    .guaranties {
        &__inner {
            flex-wrap: wrap;
        }

        &__item {
            display: block;
            width: 100%;
            padding: 30px 0;

            &+& {
                border: none;
            }
        }
    }

    .aside {
        &__inner {

            width: 100%;
        }
    }

    .filter {
        &__btn {
            flex-wrap: wrap;
        }

        &__products {
            margin: 15px auto;
        }

        &__wrapper-select {
            display: block;
            width: 100%;

            &+& {
                margin: 0;
            }
        }

        &__dropdown {
            margin-bottom: 20px;
        }

        &__form {

            margin-right: 0;
        }

        &__text {
            margin-left: 20px;
        }
    }

    .dropdown-filter {
        &__list--favourites {
            right: auto;
            left: -60px;
        }

        &__content {
            bottom: 22px;
        }
    }

    .pagination {
        &__list {
            justify-content: center;
            padding: 0;

            &:first-child {
                margin-right: 0;
            }

        }

        &__item {
            &:last-child {
                margin-left: 0;
            }

            &:first-child {
                margin-right: 5px;
            }
        }

        &__link {
            min-width: 44px;
            min-height: 44px;

            &--left::before,
            &--right::before {
                top: 7.5px;
            }
        }

    }

    .sort {
        &__list {
            column-count: 1;
        }
    }

    .production {
        &__content {
            height: 160px;
        }
    }

    .error {
        padding: 30px 0 40px;
        min-height: 600px;

        &__title {
            padding-top: 400px;

            &::before {
                width: 300px;
                height: 360px;
            }
        }
    }

    .blog {
        &__publication {
            display: grid;
            grid-template-columns: 140px 112px;
        }

        &__user,
        &__comments,
        &__data,
        &__views {
            margin-left: 0;
            font-size: 14px;
        }

        &__inner {
            padding: 10px 15px;
        }

        &__desc {
            padding: 15px 15px 30px;
        }
    }

    .main-form {
        $self: &;
        padding: 25px 0 30px;

        &__inner {
            min-height: auto;
        }

        &__forms {
            padding: 20px;
        }

        &__button {
            width: 100%;
        }

        &__top {
            padding: 25px 0 10px;
        }

        &__text {
            padding: 0 15px;
        }

        &--recovery {
            #{ $self }__text {
                padding: 0 20px;
            }
        }

        &--reg {
            #{ $self }__inner {
                min-height: 850px;
            }
        }
    }

    .pricing {
        padding: 30px 0 30px;

        &__cart {
            display: block;
            margin-bottom: 20px;
            padding: 20px;
        }

        &__title {
            margin-bottom: 5px;
            font-size: 30px;
        }

        &__text {
            margin-bottom: 30px;
        }

        &__desc--domain {
            width: 250px;
            right: -24px;
        }

        &__desc--demo {
            width: 250px;
            right: -74px;
        }

        &__btn {
            margin: 0 auto;
        }
    }

    .terms {
        padding: 30px 0 40px;
    }

    .launch__title {
        margin-bottom: 0;
    }

    .contact {
        &__button {
            width: 60%;
            text-align: center;
        }
    }

    .popular {
        &__tabs {
            flex-direction: column;
        }
    }

    .post {
        &__title {
            &+& {
                margin-left: 0;
            }
        }
    }

    .template {

        &__btn {
            flex-direction: column;
        }

        &__button {

            &+& {
                margin-left: 0;
                margin-top: 20px;
            }

            &::before {
                content: ' ';
            }

            &--like {
                padding-left: 15px;
            }
        }

        &__social {
            flex-wrap: wrap;

        }

        &__social-link {
            margin: 0 20px 5px;
        }

    }

    .card-author {
        &__btn {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__button {
            max-width: 80%;

            &+& {
                margin-left: 0;
            }
        }
    }

    .followers {

        &__photo {
            height: 230px;
        }

        &__link {
            min-height: 300px;
        }
    }

    .subtitle--template {
        margin-bottom: 30px;
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    .menu__list {
        display: block !important;
    }
}