$bg-text: #0674ec;
$white:#f3f3f8;
$bg:#eff1f5;
$plugin-text:#7347c1;
$plugin-bg:#f1f3f6;
$gray-text:#747b86;

@mixin f300 {
    font-family:'Quicksand', sans-serif;
    font-weight: 300;
}

@mixin f500 {
    font-family:'Quicksand', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
}

@mixin f-icons {
    font-family: 'Linearicons-Free';
}



